repo/repo/docs/AI_DRAFT_INBOX/n8n-delivery-patch.json
{
  "name": "GPTBot Draft Delivery (append to SEO Autopilot)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Build the gptbot.article-draft.v1 payload for /api/admin/ai-drafts.\n// Reads the validator's package off the input item, normalises field\n// names, and stamps a UUID-style bundle_id. We DO NOT trust upstream\n// status fields — the GPTBot ingestion endpoint forces pending_review\n// regardless, but we still send the safe values for traceability.\n\nconst SCHEMA_VERSION = 'gptbot.article-draft.v1';\n\nfunction isObj(x) { return x && typeof x === 'object' && !Array.isArray(x); }\n\nfunction asStr(v, def = '') { return (typeof v === 'string' && v.trim()) ? v.trim() : def; }\n\nfunction normalizeBody(blocks) {\n  if (!Array.isArray(blocks)) return [];\n  const allowed = new Set(['h2', 'h3', 'p', 'list', 'cta', 'image', 'quote']);\n  return blocks\n    .filter((b) => b && allowed.has(b.type))\n    .map((b) => {\n      const out = { type: b.type };\n      if (typeof b.text === 'string') out.text = b.text;\n      if (Array.isArray(b.items)) out.items = b.items.filter((x) => typeof x === 'string' && x.trim()).map((x) => x.trim());\n      if (typeof b.href === 'string') out.href = b.href;\n      if (typeof b.src === 'string')  out.src  = b.src;\n      if (typeof b.alt === 'string')  out.alt  = b.alt;\n      return out;\n    });\n}\n\nfunction normalizeFaq(faq) {\n  if (!Array.isArray(faq)) return [];\n  return faq\n    .filter((f) => f && typeof f.q === 'string' && typeof f.a === 'string' && f.q.trim() && f.a.trim())\n    .map((f) => ({ q: f.q.trim(), a: f.a.trim() }));\n}\n\nfunction normalizeLinks(links, locale) {\n  if (!Array.isArray(links)) return [];\n  return links\n    .map((l) => {\n      if (typeof l === 'string' && l.startsWith('/')) return { target: l, anchor: l, locale, type: 'contextual' };\n      if (!isObj(l)) return null;\n      const target = asStr(l.target);\n      const anchor = asStr(l.anchor) || target;\n      if (!target.startsWith('/')) return null;\n      return { target, anchor, locale, type: asStr(l.type, 'contextual') };\n    })\n    .filter(Boolean);\n}\n\nfunction normalizeArticle(a) {\n  if (!isObj(a)) return null;\n  const locale = (a.locale === 'ru' || a.locale === 'uz') ? a.locale : null;\n  if (!locale) return null;\n  const slug = asStr(a.slug).toLowerCase().replace(/[^a-z0-9-]/g, '').slice(0, 80);\n  if (!slug) return null;\n  return {\n    locale,\n    slug,\n    meta_title:        asStr(a.meta_title || a.title),\n    meta_description:  asStr(a.meta_description || a.description),\n    h1:                asStr(a.h1),\n    excerpt:           asStr(a.excerpt || a.intro),\n    target_keyword:    asStr(a.target_keyword || a.primary_keyword),\n    target_money_page: asStr(a.target_money_page || a.money_page),\n    author:            asStr(a.author, 'GPTBot'),\n    body_blocks:       normalizeBody(a.body_blocks || a.body),\n    faq:               normalizeFaq(a.faq),\n    internal_links:    normalizeLinks(a.internal_links || a.internalLinks, locale),\n    schemas:           Array.isArray(a.schemas) ? a.schemas : ['Article', 'FAQPage', 'BreadcrumbList'],\n    keywords:          Array.isArray(a.keywords) ? a.keywords.filter((k) => typeof k === 'string' && k.trim()) : [],\n  };\n}\n\nfunction genId() {\n  if (typeof crypto !== 'undefined' && typeof crypto.randomUUID === 'function') return crypto.randomUUID();\n  return `${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 10)}`;\n}\n\nconst out = [];\nfor (const item of items) {\n  const pkg = item.json || {};\n  const ru = normalizeArticle(pkg.ru_article);\n  const uz = normalizeArticle(pkg.uz_article);\n  const articles = [ru, uz].filter(Boolean);\n  if (articles.length === 0) {\n    out.push({ json: { __skip: true, reason: 'no_normalisable_articles' } });\n    continue;\n  }\n  const bundle_id = `n8n-${genId()}`;\n  const execution_id = $execution?.id || pkg.execution_id || '';\n  out.push({\n    json: {\n      schema_version: SCHEMA_VERSION,\n      source: 'n8n-seo-autopilot',\n      bundle_id,\n      execution_id,\n      status: 'pending_review',\n      manual_approval_required: true,\n      ready_for_publish: false,\n      published: false,\n      seo_brief: isObj(pkg.seo_brief) ? pkg.seo_brief : null,\n      validation: isObj(pkg.validation) ? {\n        passed: !!pkg.validation.passed,\n        issues: Array.isArray(pkg.validation.issues) ? pkg.validation.issues.slice(0, 200) : [],\n      } : { passed: true, issues: [] },\n      articles,\n    },\n  });\n}\n\nreturn out;\n"
      },
      "id": "build-gptbot-draft-payload",
      "name": "Build GPTBot Draft Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gptbot.uz/api/admin/ai-drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "redirect": { "redirect": {} },
          "timeout": 15000
        }
      },
      "id": "send-draft-to-gptbot-admin",
      "name": "Send Draft to GPTBot Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2040, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE-WITH-CREDENTIAL-ID",
          "name": "GPTBot Ingest Bearer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "success-true",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "draft-id-exists",
              "leftValue": "={{ $json.draft_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            },
            {
              "id": "status-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending_review",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-gptbot-admin-response",
      "name": "Check GPTBot Admin Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2260, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"validation_status\": \"{{ $('SEO Quality and Safety Validator - Code').item.json.status }}\",\n  \"gptbot_ingestion\": \"success\",\n  \"draft_id\": \"{{ $('Send Draft to GPTBot Admin').item.json.draft_id }}\",\n  \"bundle_id\": \"{{ $('Send Draft to GPTBot Admin').item.json.bundle_id }}\",\n  \"admin_url\": \"{{ $('Send Draft to GPTBot Admin').item.json.admin_url }}\",\n  \"deduplicated\": {{ $('Send Draft to GPTBot Admin').item.json.deduplicated }},\n  \"manual_approval_required\": true,\n  \"ready_for_publish\": false\n}"
      },
      "id": "respond-success-augmented",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2480, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 502,
        "responseBody": "={\n  \"validation_status\": \"{{ $('SEO Quality and Safety Validator - Code').item.json.status }}\",\n  \"gptbot_ingestion\": \"failed\",\n  \"error\": \"{{ $('Send Draft to GPTBot Admin').item.json.error }}\",\n  \"detail\": {{ JSON.stringify($('Send Draft to GPTBot Admin').item.json) }}\n}"
      },
      "id": "respond-ingestion-failed",
      "name": "Respond Ingestion Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2480, 400]
    }
  ],
  "connections": {
    "Build GPTBot Draft Payload": {
      "main": [[{ "node": "Send Draft to GPTBot Admin", "type": "main", "index": 0 }]]
    },
    "Send Draft to GPTBot Admin": {
      "main": [[{ "node": "Check GPTBot Admin Response", "type": "main", "index": 0 }]]
    },
    "Check GPTBot Admin Response": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }],
        [{ "node": "Respond Ingestion Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "manual-import",
    "note": "Append after `SEO Quality and Safety Validator - Code` in the GPTBot SEO Topic Hunter MVP workflow. Replace REPLACE-WITH-CREDENTIAL-ID with the actual ID of the `GPTBot Ingest Bearer` HTTP Header Auth credential. Update existing `Respond Success` to the augmented version (or wire this Respond Success to the same webhook trigger)."
  },
  "tags": []
}
